<div class="aboutcontent">
  <h2 class="abtheadone">One Band</h2>
  <h2 class="abtheadtwo">One Sound</h2>
  <div class="people container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <ul class="nav nav-pills">
          <li class="active"><a data-toggle="pill" href="#kr">Kurt Rudenstine</a></li>
          <li><a data-toggle="pill" href="#zs">Zack Smith</a></li>
        </ul>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="tab-content">
          <div id="kr" class="tab-pane fade in active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                  <img src="assets/images/team/band_crew_02.png" class="img-responsive nameImg" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                  <h2 class="nameHead">
                    <span class="play">Guitarist</span>
                    <span class="name">Kurt Rudenstine</span>
                  </h2>
                  <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                  <div class="nameSocial">
                    <ul>
                      <li class="fb">
                        <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                          <i class="fa-brands fa-facebook-f"></i>
                        </a>
                      </li>
                      <li class="insta">
                        <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                          <i class="fa-brands fa-instagram"></i>
                        </a>
                      </li>
                      <li class="twit">
                        <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                          <i class="fa-brands fa-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="zs" class="tab-pane fade">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                  <img src="assets/images/team/band_crew_01.png" class="img-responsive nameImg" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                  <h2 class="nameHead">
                    <span class="play">Singer</span>
                    <span class="name">Zack Smith</span>
                  </h2>
                  <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                  <div class="nameSocial">
                    <ul>
                      <li class="fb">
                        <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                          <i class="fa-brands fa-facebook-f"></i>
                        </a>
                      </li>
                      <li class="insta">
                        <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                          <i class="fa-brands fa-instagram"></i>
                        </a>
                      </li>
                      <li class="twit">
                        <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                          <i class="fa-brands fa-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
