<div class="aboutcontent">
  <h2 class="abtheadone">One Band</h2>
  <h2 class="abtheadtwo">One Sound</h2>
  <div class="team container">
    <div class="row">
      <div class="col-lg-3 col-sm-12 col-xs-12">
        <ul class="nav nav-pills">
          <li class="active"><a data-toggle="pill" href="#kr" class="first">Kurt Rudenstine - <em>Guitarist</em></a></li>
          <li><a data-toggle="pill" href="#zs">Zack Smith - <em>Singer</em></a></li>
          <li><a href="https://www.mayankgogia.com/" target="_blank">Mayank Gogia -<em>Drummer</em></a></li>
          <li><a data-toggle="pill" href="#ds">Dhruv Sethi - <em>Singer</em></a></li>
          <li><a data-toggle="pill" href="#mg">Mayank Gogia - <em>Guitarist</em></a></li>
          <li><a data-toggle="pill" href="#ds" class="last">Dhruv Sethi - <em>Voice Artist</em></a></li>
        </ul>
      </div>
      <div class="col-lg-9 col-sm-12 col-xs-12">
        <div class="tab-content">
          <div id="kr" class="tab-pane fade in active">
            <div class="laptop">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                    <img src="assets/images/team/band_crew_02.png" class="img-responsive nameImg" />
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                    <h2 class="nameHead">
                      <span class="play">Guitarist</span>
                      <span class="name">Kurt Rudenstine</span>
                    </h2>
                    <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    <div class="nameSocial">
                      <ul>
                        <li class="fb">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                        </li>
                        <li class="insta">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                        </li>
                        <li class="twit">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile">
              <img src="assets/images/team/band_crew_02.png" class="img-responsive nameImg" />
              <h2 class="nameHead">
                <span class="play">Guitarist</span>
                  <span class="name">Kurt Rudenstine</span>
                <div class="nameSocial">
                  <ul>
                    <li class="fb">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="insta">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                    <li class="twit">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </h2>
              <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>
          </div>
          <div id="zs" class="tab-pane fade">
            <div class="laptop">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                    <img src="assets/images/team/band_crew_01.png" class="img-responsive nameImg" />
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                    <h2 class="nameHead">
                      <span class="play">Singer</span>
                      <span class="name">Zack Smith</span>
                    </h2>
                    <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    <div class="nameSocial">
                      <ul>
                        <li class="fb">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                        </li>
                        <li class="insta">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                        </li>
                        <li class="twit">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile">
              <img src="assets/images/team/band_crew_01.png" class="img-responsive nameImg" />
              <h2 class="nameHead">
                <span class="play">Singer</span>
                <span class="name">Zack Smith</span>
                <div class="nameSocial">
                  <ul>
                    <li class="fb">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="insta">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                    <li class="twit">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </h2>
              <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>
          </div>
          <div id="mg" class="tab-pane fade">
            <div class="laptop">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                    <img src="assets/images/team/band_crew_01.png" class="img-responsive nameImg" />
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                    <h2 class="nameHead">
                      <span class="play">Guitarist</span>
                      <span class="name">Mayank Gogia</span>
                    </h2>
                    <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    <div class="nameSocial">
                      <ul>
                        <li class="fb">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                        </li>
                        <li class="insta">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                        </li>
                        <li class="twit">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile">
              <img src="assets/images/team/band_crew_01.png" class="img-responsive nameImg" />
              <h2 class="nameHead">
                <span class="play">Guitarist</span>
                <span class="name">Mayank Gogia</span>
                <div class="nameSocial">
                  <ul>
                    <li class="fb">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="insta">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                    <li class="twit">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </h2>
              <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>
          </div>
          <div id="ds" class="tab-pane fade">
            <div class="laptop">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                    <img src="assets/images/team/band_crew_02.png" class="img-responsive nameImg" />
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                    <h2 class="nameHead">
                      <span class="play">Guitarist</span>
                      <span class="name">Dhruv Sethi</span>
                    </h2>
                    <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    <div class="nameSocial">
                      <ul>
                        <li class="fb">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                        </li>
                        <li class="insta">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                        </li>
                        <li class="twit">
                          <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile">
              <img src="assets/images/team/band_crew_02.png" class="img-responsive nameImg" />
              <h2 class="nameHead">
                <span class="play">Voice Artist</span>
                      <span class="name">Dhruv Sethi</span>
                <div class="nameSocial">
                  <ul>
                    <li class="fb">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="insta">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                    <li class="twit">
                      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                        <i class="fa-brands fa-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </h2>
              <p class="nameContent">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="history">
    <div class="laptop">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="historyHead">BAND HISTORY</h2>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="historySubHead">These are our beginnings. And we have just started.</h4>
          </div>
        </div>
        <div class="history2015">
          <h2 class="year">2015</h2>
          <div class="row">
            <div class="historyContent right"></div>
            <div class="historyContent left">
              <h3 class="historydate">
                MARCH 23TH 2015
              </h3>
              <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
              <div class="supercontent">In 2015, John Foster and a small group of rock &nbsp; roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
            </div>
            <div class="historyContent right">
              <h3 class="historydate">
                MARCH 23TH 2015
              </h3>
              <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
              <div class="supercontent">In 2015, John Foster and a small group of rock &nbsp; roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
            </div>
            <div class="historyContent left"></div>
          </div>
        </div>
        <div class="history2016">
          <h2 class="year">2016</h2>
          <div class="row">
            <div class="historyContent right"></div>
            <div class="historyContent left">
              <h3 class="historydate">
                MARCH 23TH 2015
              </h3>
              <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
              <div class="supercontent">In 2015, John Foster and a small group of rock &nbsp; roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
            </div>
            <div class="historyContent right">
              <h3 class="historydate">
                MARCH 23TH 2015
              </h3>
              <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
              <div class="supercontent">In 2015, John Foster and a small group of rock &nbsp; roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
            </div>
            <div class="historyContent left"></div>
          </div>
        </div>
        <div class="history2017">
          <h2 class="year">2017</h2>
          <div class="row">
            <div class="historyContent right"></div>
            <div class="historyContent left">
              <h3 class="historydate">
                MARCH 23TH 2015
              </h3>
              <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
              <div class="supercontent">In 2015, John Foster and a small group of rock &nbsp; roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
            </div>
            <div class="historyContent right">
              <h3 class="historydate">
                MARCH 23TH 2015
              </h3>
              <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
              <div class="supercontent">In 2015, John Foster and a small group of rock &nbsp; roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
            </div>
            <div class="historyContent left"></div>
          </div>
        </div>
        <div class="history2018">
          <h2 class="year">2018</h2>
          <div class="row">
            <div class="historyContent right"></div>
            <div class="historyContent left">
              <h3 class="historydate">
                MARCH 23TH 2015
              </h3>
              <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
              <div class="supercontent">In 2015, John Foster and a small group of rock &nbsp; roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
            </div>
            <div class="historyContent right last">
              <h3 class="historydate">
                MARCH 23TH 2015
              </h3>
              <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
              <div class="supercontent">In 2015, John Foster and a small group of rock &nbsp; roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
            </div>
            <div class="historyContent left"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile">
      <h2 class="historyHead">BAND HISTORY</h2>
      <h4 class="historySubHead">These are our beginnings. And we have just started.</h4>
      <div class="history2015">
        <h2 class="year">2015</h2>
        <div class="historyContent">
          <h3 class="historydate">
            MARCH 23TH 2015
          </h3>
          <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
          <div class="supercontent">In 2015, John Foster and a small group of rock roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
        </div>
        <div class="historyContent">
          <h3 class="historydate">
            MARCH 23TH 2015
          </h3>
          <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
          <div class="supercontent">In 2015, John Foster and a small group of rock roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
        </div>
      </div>
      <div class="history2015">
        <h2 class="year">2015</h2>
        <div class="historyContent">
          <h3 class="historydate">
            MARCH 23TH 2015
          </h3>
          <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
          <div class="supercontent">In 2015, John Foster and a small group of rock roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
        </div>
        <div class="historyContent">
          <h3 class="historydate">
            MARCH 23TH 2015
          </h3>
          <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
          <div class="supercontent">In 2015, John Foster and a small group of rock roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
        </div>
      </div>
      <div class="history2015">
        <h2 class="year">2015</h2>
        <div class="historyContent">
          <h3 class="historydate">
            MARCH 23TH 2015
          </h3>
          <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
          <div class="supercontent">In 2015, John Foster and a small group of rock roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
        </div>
        <div class="historyContent">
          <h3 class="historydate">
            MARCH 23TH 2015
          </h3>
          <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
          <div class="supercontent">In 2015, John Foster and a small group of rock roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
        </div>
      </div>
      <div class="history2015">
        <h2 class="year">2015</h2>
        <div class="historyContent">
          <h3 class="historydate">
            MARCH 23TH 2015
          </h3>
          <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
          <div class="supercontent">In 2015, John Foster and a small group of rock roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
        </div>
        <div class="historyContent">
          <h3 class="historydate">
            MARCH 23TH 2015
          </h3>
          <h2 class="supertitle">Making the first beats wasn't easy but it was our dream</h2>
          <div class="supercontent">In 2015, John Foster and a small group of rock roll believers came together in a New York loft with big ideas and little funding to create best band.</div>
        </div>
      </div>
    </div>
  </div>
</div>
