// Hide tabbable panes to start, show them when `.active`
.tab-content .tab-pane {
  display: none;
}

.tab-content .active {
  display: block;
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.team ul.nav-pills li {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  margin: 0px;
}

.team ul.nav-pills li a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0px;
  border-bottom: 2px solid #fff;
}

.team ul.nav-pills li a.first {
  border-top: 2px solid #fff;
}

.team ul.nav li a:focus, .team ul.nav li a:hover {
  text-decoration: none;
  color: #000;
  background: #07e6a5 !important;
  border-radius: 0px;
}

.team ul.nav-pills li.active a {
  color: #000;
  background: #07e6a5 !important;
}

h2.nameHead .play {
  font-size: 1.6rem;
  display: block;
  color: #fff;
}

h2.nameHead span.name {
  display: block;
  color: #07e6a5;
  font-size: 3em;
}

p.nameContent {
  font-size: 1.6em;
  text-align: justify;
  color: #fff;
  padding: 20px 0px;
}

.team .nameSocial ul {
  padding: 0px;
}

.team .nameSocial ul li {
  list-style-type: none;
  font-size: 1.6em;
  display: inline-block;
  padding: 0px 20px 0px 0px;
}

.team .nameSocial ul li a {
  color: #07e6a5;
  text-decoration: none;
}

h2.historyHead {
  text-align: center;
  font-size: 4em;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
}

h4.historySubHead {
  font-size: 1.8em;
  text-align: center;
  color: #bababa;
  font-family: "Montserrat";
  padding-top: 15px;
  margin-bottom: 60px;
}

.historyContent.right {
  text-align: right;
  border-right: 2px solid #07e6a5;
}

.right h3.historydate::after {
  float: right;
  position: relative;
  width: 2em;
  z-index: 99;
  border-top: 1px solid #07e6a5;
  font-family: FontAwesome;
  content: "\f111";
  line-height: 0;
  text-align: right;
  right: -1.75em;
  top: 0.5em;
}

.left h3.historydate::before {
  float: left;
  position: relative;
  width: 2em;
  z-index: 99;
  border-top: 1px solid #07e6a5;
  font-family: FontAwesome;
  content: "\f111";
  line-height: 0;
  text-align: left;
  left: -1.75em;
  top: 0.5em;
}



@media only screen and (max-width:767px) {
  .laptop {
    display: none;
  }
  .mobile {
    display: block;
  }
  h2.nameHead .play {
    font-size: 2rem;
    text-transform: uppercase;
  }
  h2.nameHead {
    display: inline-block;
    width: 52%;
    vertical-align: middle;
    text-align: center;
  }
  img.nameImg {
    width: 45%;
    display: inline-block;
    margin-top: 20px;
  }
  h2.nameHead span.name {
    font-size: 2em;
    text-transform: uppercase;
  }
  p.nameContent {
    padding: 20px !important;
  }
  .team .nameSocial ul li {
    font-size: 1.4em;
    padding: 7px 14px;
    background: #07e6a5;
    margin-left: 8px;
  }
  .team .nameSocial ul li a {
    color: #181818;
    text-decoration: none;
    font-weight: 900;
  }
  h2.abtheadone {
    margin-left: 0px;
    font-family: Permanent Marker;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    color: #fff;
  }
  h2.abtheadtwo {
    font-family: Permanent Marker;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    color: #fff;
  }
  .team {
    padding: 50px 0px;
  }
  .historyContent {
    padding: 4em 2em;
    width: 100%;
    display: block;
  }

  h3.historydate {
    color: #07e6a5;
    font-size: 2em;
  }

  h2.year {
    font-size: 2.5em;
    font-weight: 800;
    margin: 0px;
    line-height: 3em;
    width: 100%;
    color: #000;
    text-align: center;
    background: #07e6a5;
  }
  .supercontent {
    width: 100%;
    font-size: 1.7em;
    color: #fff;
    display: block;
    text-align: justify;
  }

  h2.supertitle {
    width: 100%;
    font-size: 3em;
    color: #07e6a5;
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width:991px) {
  .laptop {
    display: none;
  }
  .mobile {
    display: block;
  }
  h2.nameHead .play {
    font-size: 2rem;
    text-transform: uppercase;
  }
  h2.nameHead {
    display: inline-block;
    width: 52%;
    vertical-align: middle;
    text-align: center;
  }
  img.nameImg {
    width: 45%;
    display: inline-block;
    margin-top: 20px;
  }
  h2.nameHead span.name {
    font-size: 2em;
    text-transform: uppercase;
  }
  p.nameContent {
    padding: 20px !important;
  }
  .team .nameSocial ul li {
    font-size: 1.4em;
    padding: 7px 14px;
    background: #07e6a5;
    margin-left: 8px;
  }
  .team .nameSocial ul li a {
    color: #181818;
    text-decoration: none;
    font-weight: 900;
  }
  h2.abtheadone {
    margin-left: 0px;
    font-family: Permanent Marker;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    color: #fff;
  }
  h2.abtheadtwo {
    font-family: Permanent Marker;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    color: #fff;
  }
  .team {
    padding: 50px 0px;
  }
  .historyContent {
    padding: 4em 2em;
    width: 100%;
    display: block;
  }

  h3.historydate {
    color: #07e6a5;
    font-size: 2em;
  }

  h2.year {
    font-size: 2.5em;
    font-weight: 800;
    margin: 0px;
    line-height: 3em;
    width: 100%;
    color: #000;
    text-align: center;
    background: #07e6a5;
  }
  .supercontent {
    width: 100%;
    font-size: 1.7em;
    color: #fff;
    display: block;
    text-align: justify;
  }

  h2.supertitle {
    width: 100%;
    font-size: 3em;
    color: #07e6a5;
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  h2.abtheadone {
    margin-left: -115px;
    font-family: Permanent Marker;
    text-align: center;
    font-size: 80px;
    margin-bottom: 0px;
    color: #fff;
  }

  h2.abtheadtwo {
    font-family: Permanent Marker;
    text-align: center;
    font-size: 80px;
    margin-bottom: 0px;
    color: #fff;
  }
  .team {
    padding: 100px 0px;
  }

  .historyContent {
    padding: 4em 2em;
    width: 50%;
    display: inline-block;
  }

  h3.historydate {
    color: #07e6a5;
  }

  h2.year {
    font-size: 2.5em;
    font-weight: 600;
    border: 2px solid #07e6a5;
    border-radius: 50%;
    margin: auto;
    display: block;
    line-height: 3.8em;
    width: 4em;
    height: 4em;
    padding: 0px 21px;
    color: #fff;
  }
  .supercontent {
    width: 65%;
    font-size: 1.7em;
    color: #fff;
    display: inline-block;
  }

  h2.supertitle {
    width: 75%;
    font-size: 4em;
    color: #07e6a5;
    display: inline-block;
  }

  .historyContent.last::after {
    font-family: FontAwesome;
    content: "\f111";
    margin-right: -4px;
    color: #07e6a5;
    display: block;
    line-height: 0;
    position: relative;
    text-align: right;
    right: -1.45em;
    top: 2em;
    font-size: 19px;
  }

}
