.serviceHead {
  font-family: 'Permanent Marker';
  text-align: center;
  font-size: 8em;
  color: #fff;
}

.serviceSection {
  padding: 45px 0px 0px;
  color: #fff;
  text-align: center;
}

.icon {
  font-size: 5em;
  color: #07e6a5;
}

h3.contentTitle {
  font-size: 1.8em;
  font-family: "Montserrat",Arial,sans-serif;
  font-weight: 500;
}

.contentBody {
  font-size: 1.6em;
  width: 60%;
  margin: 0px auto;
}
.height {
  height: 50px;
}
