<h2 class="serviceHead">Our Services</h2>
<div class="serviceSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="icon"><i class="fa-solid fa-music"></i></div>
        <div class="content">
          <h3 class="contentTitle">MUSIC RECORDING</h3>
          <div class="contentBody">Bring to the table win-win survival strategies to ensure.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="icon"><i class="fa-solid fa-laptop-file"></i></div>
        <div class="content">
          <h3 class="contentTitle">POST PRODUCTION</h3>
          <div class="contentBody">Bring to the table win-win survival strategies to ensure.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="icon"><i class="fa-solid fa-volume-high"></i></div>
        <div class="content">
          <h3 class="contentTitle">MASTER SOUND</h3>
          <div class="contentBody">Bring to the table win-win survival strategies to ensure.</div>
        </div>
      </div>
    </div>
    <div class="height"></div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="icon"><i class="fa-solid fa-video"></i></div>
        <div class="content">
          <h3 class="contentTitle">REMOTE RECORDING</h3>
          <div class="contentBody">Bring to the table win-win survival strategies to ensure.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="icon"><i class="fa-solid fa-compact-disc"></i></div>
        <div class="content">
          <h3 class="contentTitle">DVD PRODUCTION</h3>
          <div class="contentBody">Bring to the table win-win survival strategies to ensure.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="icon"><i class="fa-solid fa-microphone-lines"></i></div>
        <div class="content">
          <h3 class="contentTitle">VOICE OVER</h3>
          <div class="contentBody">Bring to the table win-win survival strategies to ensure.</div>
        </div>
      </div>
    </div>
  </div>

</div>
