<header id="mainhead" [ngClass]="headerFixed">
	<div class="mainheadInner">
				<!-- <div class="btHorizontalMenuTrigger">
					&nbsp;
					<div class="bt_bb_icon" data-bt-override-class="{}">
            <a href="#" target="_self"   data-ico-fa="&#xf0c9;" class="bt_bb_icon_holder"></a></div>
				</div> -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <!-- Logo Section -->
              <div id="logo">
                <a href="#">
                  <img class="logo" src="assets/images/logo-white.png" alt="Main Logo">
                </a>
              </div>
              <!-- Logo Section -->
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <div class="mobile">
                <div class="bars">
                  <i class="fa-solid fa-bars-staggered"></i>
                  <i class="fa-solid fa-bars"></i>
                </div>
              </div>
              <!-- Menu Section -->
              <nav id="menusection">
                <ul id="menu-primary-menu" class="menu">
                  <li id="" class="active">
                    <a href="#home">Home</a>
                  </li>
                  <li id="" class="">
                    <a href="#about">About us</a>
                  </li>
                  <li id="" class="">
                    <a href="#services">Services</a>
                  </li>
                  <li id="" class="">
                    <a href="#discography ">Discography </a>
                  </li>
                  <li id="" class="">
                    <a href="#events">Events</a>
                  </li>
                  <li id="" class="">
                    <a href="#contact">Contact</a>
                  </li>
                </ul>
              </nav>
              <!-- Menu Section -->
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
              <!-- Social Section -->
              <div id="socialsection">
                <div class="socialicons">
                  <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </div>

                <div class="socialicons">
                  <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>

                <div class="socialicons">
                  <a href="https://www.facebook.com/boldthemes/" target="_blank" class="fbhead">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </div>

                <div class="socialicons">
                  <a href="https://www.twitter.com/bold_themes/" target="_blank" class="twitterhead">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </div>

                <div class="socialicons">
                  <a href="https://www.youtube.com/channel/UCPL5LgX32KsbQ1i9nV-xiK" target="_blank" class="youtubehead">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </div>

                <div class="socialicons">
                  <a href="https://www.facebook.com/boldthemes/" target="_blank" class="spotifyhead">
                    <i class="fa-brands fa-spotify"></i>
                  </a>
                </div>
              </div>
              <!-- Social Section -->
            </div>
          </div>
        </div>

				<!-- /logo -->

				<!-- .menuPort -->
	</div>
	<!-- / inner header for scrolling -->
</header>
<!-- /.mainHeader -->
