header#mainhead {
  color: #fff;
  background: #191919;
  z-index: 999;
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}

.mobile {
  display: none;
}


@media screen and (min-width: 992px) {
  header#mainhead div#logo a {
    display: inline-block;
  }

  .socialicons {
    display: inline-block;
    width: 35px;
    text-align: center;
    line-height: 77px;
  }

  .socialicons a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    font-size: 18px;
    display: inline-block;
  }

  nav#menusection {
    float: right;
    height: 100%;
  }

  nav#menusection ul.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
  }

  nav#menusection ul.menu li {
    display: inline-block;
    padding: 0px 30px 0px 0px;
  }

  nav#menusection ul.menu li a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    line-height: 80px;
    font-size: 18px;
    font-family: "Montserrat",Arial,sans-serif;
    display: block;
    position: relative;
  }

  nav#menusection ul.menu li.active a:after {
    background-color: #07e6a5;
    content: ' ';
    display: block;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    height: 4px;
  }

  nav#menusection ul.menu li ul.sub-menu {
    display: none;
  }

  header.headerfixed {
    position: fixed;
    width: 100%;
  }

  header.headerfixed div#logo img {
    height: 48px;
  }

  header.headerfixed ul.menu li a {
    line-height: 48px !important;
  }

  header.headerfixed .socialicons {
    line-height: 45px !important;
  }
}

@media only screen and (max-width:767px) {
  .mobile {
    display: block !important;
  }

  .laptop {
    display: none;
  }

  div#logo, div#logo a, div#logo img {
    width: 100%;
    display: block;
  }

.socialicons {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.socialicons a {
  font-size: 18px;
  color: #0ae4a6;
  text-decoration: none;
  line-height: 61px;
}

.bars i {
  font-size: 21px;
  line-height: 59px;
}

nav#menusection {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 10px;
  margin: 0px;
  font-size: 14px;
  text-align: center;
  list-style: none;
  background-color: #000;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

nav#menusection ul.menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

nav#menusection ul.menu li {
  display: block;
}

nav#menusection ul.menu li a {
  color: #fff;
  text-decoration: none;
  height: 100%;
  line-height: 80px;
  font-size: 18px;
  font-family: "Montserrat",Arial,sans-serif;
  display: block;
  position: relative;
}

nav#menusection ul.menu li.active a:after {
  background-color: #07e6a5;
  content: ' ';
  display: block;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 4px;
}


}
