<div class="gigs">
  <h3 class="gigsSubHead">OUR NEXT DESTINATION</h3>
  <h2 class="gigsHead">GIGS & TOURS {{fullyear}}</h2>
  <div class="gigsContent">More info about upcoming tours across the world</div>
  <div class="gigsDate">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dated underline">
            <div class="month">JUN</div>
            <div class="date">04</div>
          </div>
          <div class="place underline">
            <div class="placed">LOS ANGELES, US</div>
            <div class="sublocation">ALBUM OF THE YEAR</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dated underline">
            <div class="month">JUN</div>
            <div class="date">04</div>
          </div>
          <div class="place underline">
            <div class="placed">LOS ANGELES, US</div>
            <div class="sublocation">ALBUM OF THE YEAR</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dated underline">
            <div class="month">JUN</div>
            <div class="date">04</div>
          </div>
          <div class="place underline">
            <div class="placed">LOS ANGELES, US</div>
            <div class="sublocation">ALBUM OF THE YEAR</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dated underline">
            <div class="month">JUN</div>
            <div class="date">04</div>
          </div>
          <div class="place underline">
            <div class="placed">LOS ANGELES, US</div>
            <div class="sublocation">ALBUM OF THE YEAR</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-discography [fullyears]="fullyear"></app-discography>

