<div class="mainfoot">
  <h3 id="footerheadline"><span class="bt_bb_headline_content"><span>Follow us</span></span></h3>
  <div class="footersocial">
    <div class="socialicons">
      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="fbhead">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.twitter.com/bold_themes/" target="_blank" class="twitterhead">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.youtube.com/channel/UCPL5LgX32KsbQ1i9nV-xiK" target="_blank" class="youtubehead">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="spotifyhead">
        <i class="fa-brands fa-spotify"></i>
      </a>
    </div>
  </div>
  <div id="footercopy">
    <p class="copyLine">© 2017 Copyright by Bold Themes</p>
  </div>
  <div id="footermenu">
    <ul id="menu-footer-menu" class="menu">
      <li id="menu-item-1626" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1626"><a href="about-us/index.html">About us</a></li>
      <li id="menu-item-1624" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1624"><a href="services/index.html">Services</a></li>
      <li id="menu-item-1625" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1625"><a href="blog/index.html">Blog</a></li>
      <li id="menu-item-1606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1606"><a href="contact/index.html">Contact</a></li>
    </ul>
  </div>
</div>
