<div class="mainfoot">
  <h3 id="footerheadline"><span class="bt_bb_headline_content"><span>Follow us</span></span></h3>
  <div class="footersocial">
    <div class="socialicons">
      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="linkdinhead">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="fbhead">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.twitter.com/bold_themes/" target="_blank" class="twitterhead">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.youtube.com/channel/UCPL5LgX32KsbQ1i9nV-xiK" target="_blank" class="youtubehead">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <div class="socialicons">
      <a href="https://www.facebook.com/boldthemes/" target="_blank" class="spotifyhead">
        <i class="fa-brands fa-spotify"></i>
      </a>
    </div>
  </div>
  <div id="footercopy">
    <p class="copyLine">© 2017 Copyright by <a href="https://www.mayankgogia.com/" target="_blank">Mayank Gogia</a></p>
  </div>
</div>
