<div id="home" class="body">
  <h1 class="homeHead">
    Live tour 2017
  </h1>
  <div class="height"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="sect">
          <h3 class="sub-head">songs</h3>
          <div class="homeNo">654</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="sect">
          <h3 class="sub-head">weeks</h3>
          <div class="homeNo">15</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="sect">
          <h3 class="sub-head">gigs</h3>
          <div class="homeNo">37</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="sect">
          <h3 class="sub-head">hours</h3>
          <div class="homeNo">1458</div>
        </div>
      </div>
    </div>
  </div>
  <div class="height"></div>
</div>
<div id="about" class="body">
  <app-about></app-about>
</div>
<div id="services" class="body">
  <app-services></app-services>
</div>
<div id="gigs" class="body">
  <app-gigs></app-gigs>
</div>
<div id="discography" class="body">
  <app-discography></app-discography>
</div>
<div id="events" class="body">
  <app-events></app-events>
</div>
<div id="gallery" class="body">
  <app-gallery></app-gallery>
</div>
<div id="contact" class="body">
  <app-contact></app-contact>
</div>
