<div class="discograph">
  <div class="container">
    <h2 class="discographyHead">New Album Highlights</h2>
    <div class="discographySubHead">Till {{fullyears}} | 13 songs, 59 min</div>
    <div class="audio">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <ol>
            <li>
              <span class="name">1. HipHop chill</span>
              <audio controls controlsList="noplaybackrate nodownload">
                <source src="assets/audio/Audio_02_hiphop.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </li>
            <li>
              <span class="name">2. Electro</span>
              <audio controls controlsList="noplaybackrate nodownload">
                <source src="assets/audio/Audio_01_hiphop.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </li>
            <li>
              <span class="name">3. Rock Intro</span>
              <audio controls controlsList="noplaybackrate nodownload">
                <source src="assets/audio/Audio_03_rock.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </li>
            <li>
              <span class="name">4. HipHop chill</span>
              <audio controls controlsList="noplaybackrate nodownload">
                <source src="assets/audio/Audio_02_hiphop.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </li>
            <li>
              <span class="name">5. Electro</span>
              <audio controls controlsList="noplaybackrate nodownload">
                <source src="assets/audio/Audio_01_hiphop.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </li>
            <li>
              <span class="name">6. Rock Intro</span>
              <audio controls controlsList="noplaybackrate nodownload">
                <source src="assets/audio/Audio_03_rock.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </li>
          </ol>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <img src="assets/images/disc.gif" alt="" class="img-responsive" width="400" style="margin: 0px auto; height: 250px">
        </div>
      </div>
    </div>
  </div>
  <div class="videosection">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
          <div class="initialDisc">
            <div class="subHeaddisc">LEARN MORE</div>
            <h2 class="headdisc">Latest videos</h2>
            <div class="contentdisc">More info about upcoming tours across the world</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
          <div class="playicon" data-toggle="modal" data-target="#myModal">
            <div class="subroot">
              <i class="fa-solid fa-play"></i>
            </div>
          </div>
          <img src="assets/images/inner_band_01.jpg" alt="" class="img-responsive" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
          <div class="playicon" data-toggle="modal" data-target="#myModal">
            <div class="subroot">
              <i class="fa-solid fa-play"></i>
            </div>
          </div>
          <img src="assets/images/inner_band_02.jpg" alt="" class="img-responsive"  />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
          <div class="playicon" data-toggle="modal" data-target="#myModal">
            <div class="subroot">
              <i class="fa-solid fa-play"></i>
            </div>
          </div>
          <img src="assets/images/inner_band_01.jpg" alt="" class="img-responsive"  />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
          <div class="playicon" data-toggle="modal" data-target="#myModal">
            <div class="subroot">
              <i class="fa-solid fa-play"></i>
            </div>
          </div>
          <img src="assets/images/inner_band_01.jpg" alt="" class="img-responsive"  />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
          <div class="playicon" data-toggle="modal" data-target="#myModal">
            <div class="subroot">
              <i class="fa-solid fa-play"></i>
            </div>
          </div>
          <img src="assets/images/inner_band_02.jpg" alt="" class="img-responsive"  />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
          <div class="playicon" data-toggle="modal" data-target="#myModal">
            <div class="subroot">
              <i class="fa-solid fa-play"></i>
            </div>
          </div>
          <img src="assets/images/inner_band_01.jpg" alt="" class="img-responsive"  />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
          <div class="playicon" data-toggle="modal" data-target="#myModal">
            <div class="subroot">
              <i class="fa-solid fa-play"></i>
            </div>
          </div>
          <img src="assets/images/inner_band_02.jpg" alt="" class="img-responsive"  />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <video controls controlsList="noplaybackrate nodownload">
          <source src="assets/video/movie.mp4" type="video/mp4">
        </video>
      </div>
    </div>

  </div>
</div>
