<div class="discograph">
  <div class="container">
    <h2 class="discographyHead">New Album Highlights</h2>
    <div class="discographySubHead">Till {{fullyears}} | 13 songs, 59 min</div>
    <div class="audio">
      <ol>
        <li>
          <span class="name">1. HipHop chill</span>
          <audio controls>
            <source src="../../../assets/audio/Audio_02_hiphop.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </li>
        <li>
          <span class="name">2. Electro</span>
          <audio controls>
            <source src="../../../assets/audio/Audio_01_hiphop.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </li>
        <li class="last">
          <span class="name">3. Rock Intro</span>
          <audio controls>
            <source src="../../../assets/audio/Audio_03_rock.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </li>
      </ol>
    </div>
  </div>
</div>
